@import "~antd/dist/antd.less";

@primary-color: #7da2a9;
// @modal-content-bg: #e4ebf5;
// @modal-header-bg: #e4ebf5;

.ant-btn {
  border: none;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
}
