.profile {
  .avatar {
    height: 230px;
    width: 230px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 8px solid $greyLight-1;
      box-shadow: $shadow;
    }

    .ant-image-mask {
      border-radius: 50%;
      top: 8px;
      left: 8px;
      width: 214px;
      height: 214px;
    }
  }

  .favorites {
    width: 100%;
    //padding: 0 15px;
    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ion-icon {
      font-size: 1.2rem;
      color: $greyDark;
    }

    .fav-item {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .profile-top {
    width: 100%;
    background: $greyLight-1;
    border-radius: 200px 5px 5px 200px;
    border: 8px solid $greyLight-1;
    box-shadow: $shadow;
    padding-right: 20px;
  }

  .profile-details {
    width: 100%;
    height: 214px;

    .inner {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 15px 25px;

      .follow-btn,
      .settings-icon {
        position: absolute;
        right: 30px;
        top: 15px;
        z-index: 9;
      }

      .follow-btn {
        border-radius: 1rem;
        box-shadow: $shadow;
        padding: 5px 15px;

        &:active,
        &.followed {
          box-shadow: $inner-shadow;

          ion-icon {
            color: $greyDark;
          }
        }
      }

      h2 {
        letter-spacing: 2px;
        max-width: 400px;
        color: $black;
        text-shadow: $shadow;
        font-size: 1.8rem;
        font-weight: bold;
      }

      .dotted-border {
        position: absolute;
        height: 50px;
        width: 50px;
      }

      .dotted-border-top-left {
        top: 0;
        left: 0;
        border-top: 1px dotted $primary;
        border-left: 1px dotted $primary;
      }

      .dotted-border-bottom-left {
        bottom: 0;
        left: 0;
        border-bottom: 1px dotted $primary;
        border-left: 1px dotted $primary;
      }

      .dotted-border-top-right {
        top: 0;
        right: 0;
        border-top: 1px dotted $primary;
        border-right: 1px dotted $primary;
      }

      .dotted-border-bottom-right {
        bottom: 0;
        right: 0;
        border-bottom: 1px dotted $primary;
        border-right: 1px dotted $primary;
      }

      .counter {
        span {
          margin-right: 20px;
        }
      }

      p.bio {
        margin: 5px 0 20px 0;
        max-width: 85%;
        font-weight: 300;
      }

      .follow-count {
        font-weight: 400;
        color: $primary;
      }

      .social {
        .icons {
          margin-left: 15px;
        }
      }
    }
  }

  div.bio {
    position: relative;
    width: 100%;
    height: 250px;
    background: $greyLight-1;
    border-radius: 5px;
    border: 8px solid $greyLight-1;
    box-shadow: $inset-shadow2;
    padding: 15px 10px;
    top: -2px;
    display: flex;
    align-items: center;
    flex-direction: column;

    // .ant-col {
    //   display: flex;
    //   justify-content: center;
    // }

    .img-container {
      width: 40px;
      height: 40px;
      border-width: 3px;
      cursor: pointer;
    }

    p.more {
      font-size: 0.7rem;
      color: $primary;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
  }

  .profile-content {
    margin-top: 50px;
    width: 100%;

    .profile-tabs {
      margin-bottom: 50px;

      .tab {
        background-color: $greyLight-1;
        color: $primary;
        padding: 15px;
        border-radius: 1.2rem;
        box-shadow: $inset-shadow;
        cursor: pointer;
        transition: all 0.5s ease;
        margin-bottom: 15px;

        span {
          text-transform: capitalize;
        }

        &.active {
          background-color: $primary;
          color: white;
          box-shadow: $shadow;
        }
      }
    }
  }
}

// @media (max-width: 600px) {
//   .profile {
//     .profile-top {
//       border-radius: 200px;
//     }
//   }
// }

@media (max-width: 768px) {
  .profile {
    div.bio {
      display: none;
    }
    .avatar {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
    .profile-details {
      height: auto;
      .inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p.bio {
          max-width: 100%;
        }
        .settings-icon {
          top: -230px;
          right: 0;
        }
      }
    }
    .profile-top {
      border-radius: 0;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 15px;
    }

    .profile-content {
      .profile-tabs {
        .tab {
          margin-bottom: 15px;
        }
      }
    }
  }
}
