.profile {
  aside.profile-details {
    width: 100%;
    min-height: 60vh;
    background-color: $platinum5;
    position: relative;
    margin-top: 140px;

    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
      border-radius: 50%;
      border: 8px solid white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -130px;
    }
  }

  .avatar {
    height: 230px;
    width: 230px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 8px solid $greyLight-1;
      box-shadow: $shadow;
    }
  }

  .profile-top {
    width: 100%;
    background: $greyLight-1;
    border-radius: 200px 5px 5px 200px;
    border: 8px solid $greyLight-1;
    box-shadow: $shadow;
  }

  .profile-details {
    width: 100%;
    height: 214px;
    //background-color: $greyLight-1;
    padding: 10px;
    //box-shadow: $shadow;

    .inner {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 20px;

      h2 {
        letter-spacing: 2px;
        color: #272727;
        text-shadow: $shadow;
      }

      .dotted-border {
        position: absolute;
        height: 50px;
        width: 50px;
      }

      .dotted-border-top-left {
        top: 0;
        left: 0;
        border-top: 1px dotted $primary;
        border-left: 1px dotted $primary;
      }

      .dotted-border-bottom-left {
        bottom: 0;
        left: 0;
        border-bottom: 1px dotted $primary;
        border-left: 1px dotted $primary;
      }

      .dotted-border-top-right {
        top: 0;
        right: 0;
        border-top: 1px dotted $primary;
        border-right: 1px dotted $primary;
      }

      .dotted-border-bottom-right {
        bottom: 0;
        right: 0;
        border-bottom: 1px dotted $primary;
        border-right: 1px dotted $primary;
      }

      .counter {
        span {
          margin-right: 20px;
        }
      }

      p.bio {
        margin-bottom: 20px;
        padding-right: 50px;
      }

      .social {
        .icons {
          margin-left: 15px;
        }
      }
    }
  }

  .profile-content {
    margin-top: 50px;
    width: 100%;

    .profile-tabs {
      width: 100%;
      margin-bottom: 30px;

      .tab {
        background-color: $greyLight-1;
        color: $primary;
        padding: 15px;
        border-radius: 1.2rem;
        box-shadow: $shadow;
        cursor: pointer;

        &.active {
          background-color: $primary;
          color: white;
        }
      }
    }
  }
}
