.center {
  margin-top: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// CARDS

.card {
  width: 100%;
  background-color: $greyLight-1;
  transition: all 0.8s ease;
  cursor: pointer;
  border: 8px solid $greyLight-1;
  box-shadow: $shadow;
  border-radius: 5px;

  .img-container {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    img {
      width: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  h3 {
    font-family: "Fraunces", serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 0 0 0;
  }
}

.card.story-card {
  &.story-card-mini {
    figcaption {
      min-height: auto;
      h3 {
        text-align: center;
        font-size: 1.1rem;
      }
    }

    img {
      height: 200px;
    }
  }
  img {
    height: 230px;
  }

  p.description {
    font-size: 0.75rem;
    margin: 15px 0;
  }

  figcaption {
    position: relative;
    padding: 15px 20px;

    .cat-block {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span.mature {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $delete;
        color: white;
        box-shadow: $shadow;
        font-size: 0.65rem;
        font-weight: bold;
      }
      span.tag {
        color: #8086a0;
        font-weight: 600;
        font-size: 0.65rem;
        position: relative;
        margin-right: 8px;
        text-transform: uppercase;
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          height: 1px;
          background-color: #8086a0;
        }
      }
    }

    // span.tag {
    //   position: absolute;
    //   right: 5px;
    //   top: 0;
    //   color: $white;
    //   background-color: $primary;
    //   padding: 3px 15px;
    //   text-transform: uppercase;
    //   font-weight: bold;
    //   font-size: 0.7rem;
    // }

    .count {
      margin-top: 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      span {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        font-weight: 300;
        padding: 5px 15px;
        background-color: $greyLight-1;
        border-radius: 15px;
        box-shadow: $inset-shadow;
        color: $greyDark;

        .number {
          margin-right: 5px;
          border: none;
          box-shadow: none;
        }
      }
    }

    span.author {
      display: block;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      font-size: 0.8rem;

      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-right: 8px;
      }
    }

    h3 {
      //font-style: italic;
    }

    time {
      position: absolute;
      font-size: 0.7rem;
      bottom: 20px;
      right: 20px;
    }
  }
}

// User Card
a {
  color: $black;
  figure.user-card {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;

    figcaption {
      text-align: center;
    }

    &.home-user-card {
      .social {
        margin-top: 15px;
        ion-icon {
          font-size: 1.2rem;
        }
      }
    }

    .img-container {
      overflow: hidden;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 8px solid $greyLight-1;
      box-shadow: $shadow;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ion-icon {
      font-size: 6rem;
      color: $greyDark;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.profile div.bio {
  figure.user-card {
    .img-container {
      width: 70px;
      height: 70px;
    }
  }
}

// Character card
figure.character-card {
  position: relative;
  img {
    height: 200px;
  }

  &.add {
    span.remove-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: white;
      background: rgb(214, 82, 82);
      box-shadow: $shadow;
      opacity: 0;
      transition: all 0.5s ease;

      &:hover {
        opacity: 1;
      }
    }
    h3 {
      font-size: 16px;
      text-align: center;
    }
    img {
      height: 160px;
    }
  }

  figcaption {
    padding: 15px;
    text-align: center;

    h3 {
      margin: 0;
      color: $greyDark-2;
      font-size: 0.9rem;
      text-align: center;
    }

    span.author {
      font-size: 0.7rem;
    }
  }
}

/*  SEGMENTED-CONTROL */
.segmented-control {
  margin-bottom: 15px;
  width: 95%;
  height: 2.5rem;
  box-shadow: $shadow;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  input {
    display: none;
  }

  > input:checked + label {
    transition: all 0.5s ease;
    color: $primary;
  }

  &__1,
  &__2 {
    width: 50%;
    height: 2.3rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $greyDark;
    transition: all 0.5s ease;

    &:hover {
      color: $primary;
    }
  }

  &__color {
    position: absolute;
    height: 2.1rem;
    width: 49%;
    margin-left: 0.2rem;
    border-radius: 0.8rem;
    box-shadow: $inner-shadow;
    pointer-events: none;
  }
}

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .segmented-control__color {
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img-container-border {
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid $greyLight-1;
  box-shadow: $shadow;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.dotted-border {
  position: absolute;
  height: 50px;
  width: 50px;
}

.dotted-border-top-left {
  top: 0;
  left: 0;
  border-top: 1px dotted $primary;
  border-left: 1px dotted $primary;
}

.dotted-border-bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 1px dotted $primary;
  border-left: 1px dotted $primary;
}

.dotted-border-top-right {
  top: 0;
  right: 0;
  border-top: 1px dotted $primary;
  border-right: 1px dotted $primary;
}

.dotted-border-bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 1px dotted $primary;
  border-right: 1px dotted $primary;
}

// Modal
.custom-modal {
  position: fixed;
}

// HEADINGS

.side-heading {
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  color: lighten($greyDark, 5%);
}

.ant-drawer-title {
  color: lighten($greyDark, 5%);
}

.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.edit-tag {
  user-select: none;
  max-width: 120px;
  padding: 5px 15px;
  background-color: $primary;
  color: white;
  border: none;
  margin-bottom: 5px;
}
.tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
  border: none;
  box-shadow: $inset-shadow;
  border-radius: 1rem;
  padding: 5px 10px;
}

// Loader

.loader-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 100px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: $primary;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.modal-img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.modal-story-link {
  font-size: 0.8rem;
  margin-top: 10px;
  color: $greyDark;

  a {
    text-decoration: underline;
    color: $greyDark;
  }
}

.na {
  font-weight: 300;
  font-size: 0.8rem;
}

.ctrl-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    // max-width: 300px;
  }
}

.add-btn-circle {
  display: flex;
  align-items: center;
  cursor: pointer;

  ion-icon {
    color: $primary;
    font-size: 30px;
    margin-right: 8px;
  }
}

.justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn-text {
  display: flex;
  align-items: center;
  cursor: pointer;

  ion-icon {
    color: $primary;
    font-size: 30px;
    margin-right: 8px;
  }
}

.btn-follow.liked.icon.custom-icon {
  color: $primary;
}

.mini-card {
  width: 100%;
  position: relative;
  margin: 0 10px;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    box-shadow: $shadow;
  }

  figcaption {
    position: absolute;
    top: 150px;
    width: 97%;
    padding: 15px;
    background-color: white;
    box-shadow: 13px 10px 5px #d7e0f0;

    .cat-block {
      margin-bottom: 1.2rem;
    }
  }
}

.comment-deleted {
  font-style: italic;
  font-weight: 600;
}
