// CARDS

.card {
  width: 100%;
  background-color: $greyLight-1;
  transition: all 0.8s ease;
  cursor: pointer;
  border: 5px solid $greyLight-1;
  box-shadow: $shadow;
  border-radius: 5px;

  img {
    width: 100%;
    height: 258px;
    object-fit: cover;
  }

  figcaption {
    position: relative;
    min-height: 172px;
    padding: 15px 20px;

    span.tag {
      position: absolute;
      right: 0;
      top: 0;
      color: $white;
      background-color: $primary;
      padding: 3px 15px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.7rem;
    }

    span.author {
      display: block;
      margin-bottom: 20px;
    }

    h3 {
      font-family: "Fraunces", serif;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      text-decoration: underline;
      text-decoration-color: $primary;
    }

    time {
      position: absolute;
      font-size: 0.7rem;
      bottom: 20px;
      right: 20px;
    }
  }

  &:hover {
    transform: scale(1.03);
  }
}

/*  SEGMENTED-CONTROL */
.segmented-control {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 20.4rem;
  height: 4rem;
  box-shadow: $shadow;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;

  input {
    display: none;
  }

  > input:checked + label {
    transition: all 0.5s ease;
    color: $primary;
  }

  &__1,
  &__2,
  &__3 {
    width: 6.8rem;
    height: 3.6rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $greyDark;
    transition: all 0.5s ease;

    &:hover {
      color: $primary;
    }
  }

  &__color {
    position: absolute;
    height: 3.4rem;
    width: 6.2rem;
    margin-left: 0.3rem;
    border-radius: 0.8rem;
    box-shadow: $inner-shadow;
    pointer-events: none;
  }
}

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .segmented-control__color {
  transform: translateX(6.8rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-3:checked ~ .segmented-control__color {
  transform: translateX(13.6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
