*,
h1,
ul,
p,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
html {
  box-sizing: border-box;
  background: $greyLight-1;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  //font-family: "Cantarell", sans-serif;
}

main.main-content {
  //font-family: "Lato", sans-serif;
  //font-family: 'Poppins', sans-serif;
  width: 100%;
  position: relative;
  transition: all 0.6s ease-in-out;
  left: 0;

  &.content-menu-open {
    left: 60%;
  }
}

.content {
  max-width: 1280px;
  margin: 30px auto;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .content {
    margin: 15px;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .content {
    margin: 30px;
  }
}
