$primary: #345c61;
$white: #edf2f6;
$primary-color: #1890ff;
$shadow: 0 10px 28px #ececec, 0 8px 10px #8c8c8c;
$black: #2d2d2d;
$delete: rgb(214, 82, 82);

$platinum: #0b4759;
$platinum2: #022b50;
$platinum3: #345c61;
$platinum4: #f99f8f;
$platinum5: #edc4b4;

$primary-light: #8abdff;
$primary: #6d5dfc;
$primary-dark: #5b0eeb;

$white: #ffffff;
$greyLight-1: #e4ebf5;
$greyLight-2: #c8d0e7;
$greyLight-3: #bec8e4;
$greyDark: #9baacf;
$greyDark-2: #627298;
$shadow: 0.3rem 0.3rem 0.6rem $greyLight-2, -0.2rem -0.2rem 0.5rem $white;
$blackshadow: 0.3rem 0.3rem 0.6rem $black, -0.2rem -0.2rem 0.5rem black;
$inner-shadow: inset 0.2rem 0.2rem 0.5rem $greyLight-2,
  inset -0.2rem -0.2rem 0.5rem $white;
$inset-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
  inset -3px -3px 7px #ffffff;
$inset-shadow2: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.5),
  inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #ffffff;
